{% extends base_template|default:"cruds_mixins/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block main %}

<div class="cruds-delete cruds-page">

  <div class="cruds-delete__header cruds-page__header">
    <h1>{{ title }}</h1>
  </div>

  <div class="cruds-page__content">
    <div class="cruds-delete__confirmation-message">
      {% trans "Are you sure?" %}
    </div>

    <div class="cruds-delete__confirmation-form">
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}
