{% extends base_template|default:"cruds_mixins/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block main %}

<div class="cruds-form cruds-page">

  <div class="cruds-form__header cruds-page__header">
    <h1>{{ title }}</h1>
  </div>

  {% block before_form %}
  {% endblock %}

  <div class="cruds-form__form cruds-page__content">
    {% if form.helper %}
      {% crispy form %}
    {% else %}
      <form method="POST" enctype="multipart/form-data" class="default-form">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
      </form>
    {% endif %}
  </div>

  {% block after_form %}
  {% endblock %}

  <div class="cruds-form__actions cruds-page__actions">
  {% include "cruds_mixins/partials/actions.html" %}
  </div>
</div>
{% endblock %}
