{% extends base_template|default:"cruds_mixins/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block main %}

<div class="cruds-list cruds-page">

  <div class="cruds-list__header cruds-page__header">
    <h1>{{ title }}</h1>
  </div>

  {% block list_actions %}
    <div class="cruds-list__actions cruds-page__actions">
      {% include "cruds_mixins/partials/actions.html" %}
    </div>
  {% endblock %}

  <div class="cruds-list__filters cruds-page__filters">
    {% include "cruds_mixins/partials/filter.html" %}
  </div>

  <div class="cruds-list__table cruds-page__content">
    {% if bulk_action_actions %}
      <form action="{{ bulk_action_url|default:"" }}" method="POST" data-select-table>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.get_full_path }}">
    {% endif %}

    {% render_table table "cruds_mixins/partials/table.html" %}

    {% if bulk_action_actions %}
      <div class="cruds-list__bulk-actions">
        {% include "cruds_mixins/partials/bulk_actions.html" with num=object_list.count %}
      </div>
      </form>
    {% endif %}

    <div class="cruds-list__pagination cruds-page__pagination">
      {% if paginator %}
          {% blocktrans with count=paginator.count display=object_list.count %}{{count}} results. Displaying: {{display}}.{% endblocktrans %}
      {% endif %}

      {% include "cruds_mixins/partials/pagination.html" %}
    </div>

  </div>

</div>
{% endblock %}
